:root {
  --primary: #a042c6;
  --primary-light: #f5ebf9;

  --text-primary: #212121;
  --text-secondary: #525252;

  --bg-primary: #ffffff;
  --bg-secondary: #f6f7f9;

  --border-primary: #aebfd5;
  --border-secondary: #eaecf0;

  --error-primary: #ff0505;

  --gradient-start: #9a3cc5;
  --gradient-end: #af4dc8;

  --gray-primary: #b5b5b5;
  --gray-secondary: #e3e3e3;

  --sidebar-width: 272px;
  --second-sidebar-width: 330px;
  --topbar-height: 108px;
}

/* Dark mode variables */
body.dark-mode {
  --primary-light: #a042c6;

  --text-primary: #ffffff;
  --text-secondary: #b8b8b8;

  --bg-primary: #474747;
  --bg-secondary: #2e2e2e;

  --border-primary: #eaecf0;
  --border-secondary: transparent;

  --gray-primary: #b5b5b5;
  --gray-secondary: #474747;
}

/* Text */
.text-text-primary {
  color: var(--text-primary);
}

.text-text-secondary {
  color: var(--text-secondary);
}

/* Background */
.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

/* Border */
.border-primary {
  border-color: var(--border-primary);
}

.border-secondary {
  border-color: var(--border-secondary);
}

/* Error */
.text-error-primary {
  color: var(--error-primary);
}

/* Gradient */
.bg-gradient-left-to-right {
  background: linear-gradient(
    to right,
    var(--gradient-start),
    var(--gradient-end)
  );
}

.bg-gradient-top-to-bottom {
  background: linear-gradient(
    to bottom,
    var(--gradient-start),
    var(--gradient-end)
  );
}

/* Gray */
.bg-gray-primary {
  background-color: var(--gray-primary);
}

.bg-gray-secondary {
  background-color: var(--gray-secondary);
}

.text-gray-primary {
  color: var(--gray-primary);
}

.text-gray-secondary {
  color: var(--gray-secondary);
}

.border-gray-primary {
  border-color: var(--gray-primary);
}

.border-gray-secondary {
  border-color: var(--gray-secondary);
}

/* Landing Page */
.star-icon {
  filter: invert(53%) sepia(79%) saturate(4788%) hue-rotate(244deg)
    brightness(97%) contrast(100%);
}

/* Common */
.heading-icon {
  background: linear-gradient(
    to bottom,
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
  padding: 12px 24px;
}

.btn-primary {
  background: linear-gradient(
    to bottom,
    var(--gradient-start),
    var(--gradient-end)
  );
  color: white;
  border: 1px solid var(--primary);

  &:hover {
    background: linear-gradient(
      to top,
      var(--gradient-start),
      var(--gradient-end)
    );
  }
}

.btn-white {
  background-color: white;
  color: #525252;
  border: 1px solid #525252;

  &:hover {
    background-color: var(--primary);
    color: white;
  }
}

.btn-transparent {
  background-color: transparent;
  color: white;
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--primary);
    color: white;
  }
}

.theme-switch {
  display: flex;
  align-items: center;
  width: 70px;
  height: 36px;
  border-radius: 9999px;
  background-color: var(--gray-primary);
  padding: 0 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.theme-switch > div {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: white;
}
